# .env.example
API_KEY=
GEMINI_API_KEY=
VITE_ADMIN_SECRET=architech_nexus_2025

# Stripe Configuration
VITE_STRIPE_PUBLISHABLE_KEY=
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=

# Firebase Configuration
VITE_FIREBASE_API_KEY=AIzaSyBR4Ms59Zyzz1cDElQ6vZGG-e_7MvWatNY
VITE_FIREBASE_AUTH_DOMAIN=the-architech-2020d.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=the-architech-2020d
VITE_FIREBASE_STORAGE_BUCKET=the-architech-2020d.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=259894521781
VITE_FIREBASE_APP_ID=1:259894521781:web:d9ec4a118a1cc8a9a9f3fc
VITE_FIREBASE_MEASUREMENT_ID=G-P7MLX2FYQM
VITE_FIREBASE_FIRESTORE_DATABASE_ID=ai-studio-931a1bfc-dd9a-4db5-8a26-7e33e187ecff
